- name: Set cache validity and update apt packages list
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Upgrade all installed packages
  ansible.builtin.apt:
    upgrade: full